@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --darker-orange-color: #f4ab25;
  --dark-orange-color: #f7c569;
  --light-orange-color: rgb(248, 198, 105);
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar_logo {
  height: 40px;
  margin-right: 20px;
}

.hero_section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/hero.jpg"); /* The image used */
  height: 98vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero_title {
  color: var(--light-orange-color) !important;
  padding-top: 30%;
  font-weight: bold;
  font-size: 80px;
}

.hero_description {
  color: white;
}

.carousel_image {
  object-fit: cover;
  object-position: center;
  height: 80vh;
  overflow: hidden;
}

.carousel_title {
  padding-top: 10% !important;
  padding-bottom: 5% !important;
}

.slide_1_image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/slide_1.jpg"); /* The image used */
}

.slide_2_image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/slide_3.jpg"); /* The image used */
}

.btn-orange {
  margin-top: 20px;
  background-color: var(--dark-orange-color) !important;
  border: var(--light-orange-color);
}

.btn-orange:hover {
  background-color: var(--darker-orange-color) !important;
  transform: translateY(-10px) !important;
}

.about_us {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about_title {
  font-weight: bold;
  font-size: 50px !important;
}
